* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  font-size: 20px;
  font-weight: 100;
}

body .left {
    float: left !important;
}

body .display-none {
    display: none !important;
}

body .right {
    float: right !important;
}

body .bold {
    font-weight: bold !important;
}

body .hidden {
    opacity: 0 !important;
}

body .font-white {
    color: white;
}

body .font-gray {
    color: #2f2c40;
}

body .align-justify {
    text-align: justify;
}

body .padding-top-40 {
    padding-top: 40px;
}

body .margin-bottom-10 {
    margin-bottom: 10px !important;
}

body .height-90 {
    height: 90px !important;
}

body div.space {
    height: 50px;
    width: 100%;
    display: inline-block;
}

div.section-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

div.section-wrap.yellow {
  background-color: #f2c230;
  padding-top: 35px;
  padding-bottom: 35px;
}

div.section {
    display:inline-block;
    max-width: 1000px;
    width: 100%;
}

div.section.header {
    height: 60px;
    margin: 20px 0;
}

div.section.header a.logo{
    margin: 10px;
    border: solid 4px #2f2c40;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: 2px 6px;
    font-weight: bold;
    font-size: x-large;
    float: left;
    color: #2f2c40;
    text-decoration: none;
}

div.section.header div#navbar{
    border: none;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: 2px 6px;
    font-weight: 400;
    font-size: x-large;
    float: right;
}

div.section.header div#navbar ul{
    padding: 0;
    margin: 10px 0;
}

div.section.header div#navbar li{
    list-style-type: none;
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
    padding: 2px 6px;
}


div.section.header div#navbar li a{
    text-decoration: none;
    color: #2f2c40;
}

div.section.header div#navbar li a:hover{
    text-decoration: underline;
    color: #2f2c40;
}

div.section img.img-phone {
    width: 200px;
}

div.section img.img-contact {
    width: 170px;
    margin: 45px 0 0 20px;
}

div.section img.img-logo {
    padding: 25px 0px 0 0;
    position: relative;
    right: 13px;
}

div.section img.img-team {
    border-radius: 100px;
    border: none;
    width: 120px;
    margin: 20px 10px 20px 30px;
    filter: grayscale(100%);
}

div.section img.message-avatar {
    border-radius: 100px;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

div.section h4 {
    text-transform: uppercase;
    display: block;
    width: fit-content;
    font-weight: 500;
    font-size: 35px;
    color: #2f2c40;
    margin: 0;
}

div.section .column {
    display: inline-block;
    float: left;
}

div.section .column-25 {
    width: 25%;
}

div.section .column-30 {
    width: 30%;
}

div.section .column-40 {
    width: 40%;
}

div.section .column-50 {
    width: 50%;
}

div.section .column-70 {
    width: 70%;
    padding: 20px 0 0 0;
}

input {
    border: solid 1px #2f2c40;
    height: 40px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 100;
}

input.button {
    border: solid 1px #2f2c40;
    background-color: #2f2c40;
    color: white;
    height: 40px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 0;
}

textarea {
    border: solid 1px #2f2c40;
    height: 120px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: 100;
}

#map {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

div.chat {
    width: 70%;
}

div.message {
    margin: 0;
    padding: 0 0 5px 0;
    display: inline-block;
    width: 100%;
}

div.message p{
    background-color: #ececec;
    margin: 0;
    padding: 12px 19px;
    border-radius: 30px;
    font-size: 18px;
    max-width: 70%;
}

div.message p.blue {
    background-color: #0084ff;
    color: white;
}

input.fcb-chat-input {
    border-radius: 50px;
    background-color: #f2f2f2;
    border: none;
    background-image: url(../images/facebook-chat-icons-2.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 40px;
    width: 740px;
    margin-left: 10px;
    padding-left: 20px;
}

img.fcb-chat-icons-1 {
    position: relative;
    top: 9px;
}

img.fcb-chat-icons-3 {
    position: relative;
    top: 10px;
}

img.fcb-chat-icons-4 {
    left: 9px;
    position: relative;
    top: 6px;
    cursor: pointer;
}

div.section div.popup-overlay {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.section div.popup-overlay-bg {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    background-color: #505050;
    height: 100%;
    opacity: 0.9;
    z-index: 10;
}

div.section div.popup-message {
    z-index: 100;
    position: relative;
    text-align: center;
    display: inline-table;
}

div.section div.popup-message p{
    background-color: white;
    margin-top: 140px;
    padding: 15px 50px;
    border-radius: 35px;
    line-height: 30px;
}

div.section div.popup-message p a{
    color: black;
    font-weight: 900;
}

div.section div.popup-message p a:hover{
    text-decoration: none;
}

div.section div.popup-message img.emoticon {
    width: 23px;
    height: 23px;
    position: relative;
    top: 4px;
    margin: 0 4px;
}
div.section div.popup-buttons{
    position: relative;
}

div.section div.popup-buttons div.button-wrapper{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.section div.popup-buttons div.button-wrapper button{
    background-color: white;
    padding: 5px 30px;
    margin: 2px 2px 2px 12px;
    border-radius: 35px;
    line-height: 30px;
    cursor: pointer;
    outline: none;
    border: none;
}

div.section div.popup-buttons div.button-wrapper button:hover {
    background-color:  #0084ff;
    color: white !important;
}

div.section div.popup-buttons div.button-wrapper button:focus{
    border: solid 2px #0084ff;
    margin: 0 0 0 10px;
    color: #0084ff;
}