* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  font-size: 20px;
  font-weight: 100;
}

body .left {
    float: left !important;
}

body .right {
    float: right !important;
}

body .font-white {
    color: white;
}

body .font-gray {
    color: #2f2c40;
}

body .align-justify {
    text-align: justify;
}

body .padding-top-40 {
    padding-top: 40px;
}

body div.space {
    height: 50px;
    width: 100%;
    display: inline-block;
}

div.section-wrap {
  display:         flex;
  flex-wrap:       wrap;
  justify-content: center;
}

div.section-wrap.yellow {
  background-color: #f2c230;
  padding-top: 35px;
  padding-bottom: 35px;
}

div.section {
    display:inline-block;
    max-width: 1000px;
    width: 100%;
}

div.section.header {
    height: 60px;
    margin: 20px 0;
}

div.section.header a.logo{
    margin: 10px;
    border: solid 4px #2f2c40;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: 2px 6px;
    font-weight: bold;
    font-size: x-large;
    float: left;
    color: #2f2c40;
    text-decoration: none;
}

div.section.header div#navbar{
    border: none;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: 2px 6px;
    font-weight: 400;
    font-size: x-large;
    float: right;
}

div.section.header div#navbar ul{
    padding: 0;
    margin: 10px 0;
}

div.section.header div#navbar li{
    list-style-type: none;
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
    padding: 2px 6px;
}


div.section.header div#navbar li a{
    text-decoration: none;
    color: #2f2c40;
}

div.section.header div#navbar li a:hover{
    text-decoration: underline;
    color: #2f2c40;
}

div.section img.img-phone {
    width: 200px;
}

div.section img.img-contact {
    width: 170px;
    margin: 45px 0 0 20px;
}

div.section img.img-logo {
    padding: 30px 0 0 0;
}

div.section img.img-team {
    border-radius: 100px;
    border: solid 1px #2f2c40;
    width: 120px;
    float: right;
    margin: 20px 20px 20px 0;
}

div.section h4 {
    text-transform: uppercase;
    display: block;
    width: fit-content;
    font-weight: 500;
    font-size: 35px;
    color: #2f2c40;
    margin: 0;
}

div.section .column {
    display: inline-block;
    float: left;
}

div.section .column-25 {
    width: 25%;
}

div.section .column-30 {
    width: 30%;
}

div.section .column-40 {
    width: 40%;
}

div.section .column-50 {
    width: 50%;
}

div.section .column-70 {
    width: 70%;
    padding: 20px 0 0 0;
}

input {
    border: solid 1px #2f2c40;
    height: 40px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 100;
}

input.button {
    border: solid 1px #2f2c40;
    background-color: #2f2c40;
    color: white;
    height: 40px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 0;
}

textarea {
    border: solid 1px #2f2c40;
    height: 120px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: 100;
}

#map {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
