<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>World without hate.</title>
        <meta name="description" content="Our page provide tools for hate-speech check.">
        <meta name="author" content="Jan Macek">

        <link rel="stylesheet" href="../static/stylesheets/normalize.css">
        <link rel="stylesheet" href="../static/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function(){
            $.fn.enterKey = function (fnc) {
                return this.each(function () {
                    $(this).keypress(function (ev) {
                        var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                        if (keycode == '13') {
                            fnc.call(this, ev);
                        }
                    })
                })
            }

            $("#fcb-chat-input").on("keyup", function () {
                $("#new-message-text").text(". . .")
                if ($("#fcb-chat-input").val().length > 0) {
                    $("#new-message").removeClass("hidden")
                } else {
                    $("#new-message").addClass("hidden")
                }
            })

            $("#fcb-chat-input").enterKey(function () {
                $("#popup-overlay").removeClass("display-none");
            })

            $("#popup-buttons-yes").click(function() {
                var message = $("#fcb-chat-input").val();
                $("#fcb-chat-input").val("");
                $("#popup-overlay").addClass("display-none");
                $("#new-message-text").text(message)
            })

            $("#popup-buttons-no").click(function() {
                $("#popup-overlay").addClass("display-none");
                $("#new-message-test").val("hidden")
            })
        });
        </script>
    </head>

    <body>
        <div class="section-wrap font-gray">
            <div class="section header">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand logo font-gray" href="#">no.hate.speech</a>
                        </div>
                        <div>
                            <div class="collapse navbar-collapse" id="navbar">
                                <ul class="nav navbar-nav">
                                    <li><a href="#home">home</a></li>
                                    <li><a href="#example">example</a></li>
                                    <li><a href="#contact">contact</a></li>
                                    <li><a href="#team">team</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="section-wrap yellow" id="home">
            <div class="section">
                <div class="column column-25"><img class="img-phone" src="../static/images/phone.png" /></div>
                <div class="column column-70">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p class="font-white">Donec nec ex luctus, dictum ipsum nec, maximus mi. Cras ultricies eros tortor, quis varius elit aliquet aliquam. Fusce eleifend leo at risus sagittis imperdiet.</p>
                    <p class="font-white">Quisque sollicitudin sem sed dictum accumsan. Mauris nec tempor mauris, ac varius lectus. Nam a posuere eros. Nulla nec sem tincidunt, dictum quam sollicitudin, tincidunt quam. Nunc facilisis dui eros, sit amet ultricies elit ultricies at.</p>
                </div>
            </div>
        </div>
        <div class="section-wrap" id="example">
            <div class="section">
                <div class="space"></div>
                <div id="popup-overlay" class="popup-overlay display-none">
                    <div class="popup-overlay-bg"></div>
                    <div class="popup-message">
                        <p>
                            It looks like your message <span class="bold">calls for violence</span> <img class="emoticon" src="../static/images/fearful-face.png">.<br>
                            Are you sure, you want to publish it?<br>
                            <a href="https://en.wikipedia.org/wiki/Hate_speech">Here</a> you can read something about this issue.
                        </p>
                        <div class="popup-buttons">
                            <div class="button-wrapper">
                                <a id="popup-buttons-yes">Yes.</a>
                                <a id="popup-buttons-no" class="bold">No. Let me change it.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-30">
                    <h4><b>Example</b> of our product as a plugin for:</h4>
                    <img class="img-logo" src="../static/images/facebook-long.png" />
                </div>
                <div class="chat right">
                    <div class="message left-message">
                        <img class="message-avatar left" src="../static/images/facebook-avatar-1.png" />
                        <p class="left">Maecenas ornare ipsum sit amet. Cras at urna sit amet justo tincidunt nulla ultricies, quis vestibulum libero sagittis. Maecenas ornare ipsum sit amet nulla ultricies.</p>
                    </div>
                    <div class="message right-message">
                        <img class="message-avatar right" src="../static/images/facebook-avatar-2.png" />
                        <p class="right blue">Etiam sed nulla purus. Ut vel laoreet enim.</p>
                    </div>
                    <div class="message">
                        <img class="message-avatar left" src="../static/images/facebook-avatar-1.png" />
                        <p class="left">Cras at urna sit amet justo tincidunt fringilla. Ut eget pulvinar ante.</p>
                    </div>
                    <div class="height-80">
                            <div id="new-message" class="message right-message hidden">
                                <img class="message-avatar right" src="../static/images/facebook-avatar-2.png" />
                                <p id="new-message-text" class="right blue">. . .</p>
                            </div>
                    </div>
                </div>
                <div class="message margin-bottom-10">
                    <img class="fcb-chat-icons-1" src="../static/images/facebook-chat-icons-1.png">
                    <input id="fcb-chat-input" class="fcb-chat-input" placeholder="Aa"/>
                    <img class="fcb-chat-icons-3" src="../static/images/facebook-chat-icons-3.png">
                </div>
            </div>
        </div>
        <div class="section-wrap yellow" id="contact">
            <div class="section">
                <div class="column column-25"><img class="img-contact" src="../static/images/contact.png" /></div>
                <div class="column column-40 padding-top-40">
                    <h4>Contact us.</h4>
                    <p class="font-white align-justify">Donec nec ex luctus, dictum ipsum nec, maximus mi. Cras ultricies eros tortor.</p>
                    <p class="font-white align-justify">Quisque sollicitudin sem sed dictum accumsan. Mauris nec sem tincidunt, dictum quam sollicitudin, tincidunt quam.</p>
                </div>
                <div class="column column-30 right">
                    <input name="name" placeholder="Your name ..." />
                    <input name="email" placeholder="Your e-mail ..." />
                    <textarea name="message" placeholder="Text of your message ..."></textarea>
                    <input class="button" type="submit" />
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="section-wrap" id="team">
            <div class="section">
                <div class="column column-25">
                    <h4>Our team:</h4>
                    <p>Erat malesuada sit amet. Curabitur laoreet et nibh ac vulputate. Sed fringilla ligula libero, vitae luctus tortor fringilla vitae.</p>
                </div>
                <div class="column column-70">
                    <img class="img-team" src="../static/images/circle-cropped-1.png">
                    <img class="img-team" src="../static/images/circle-cropped-2.png">
                    <img class="img-team" src="../static/images/circle-cropped-3.png">
                    <img class="img-team" src="../static/images/circle-cropped-4.png">
                </div>
            </div>
        </div>
        <div class="space"></div>
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35823.203680016966!2d17.09412771844329!3d48.137708392967404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c89360aca6197%3A0x631f9b82fd884368!2sBratislava!5e0!3m2!1ssk!2ssk!4v1601151027520!5m2!1ssk!2ssk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </body>
</html>